p{
    text-align: center;
}

.normal{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.destacado{
    background-color: rgb(244, 244, 116);
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}