body{
    background-color: bisque;
}

.principal{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#informacion{
text-align: center;
border-style: inset;

}
h1:hover {
color: red;
}


a[href*=".edu"]{
background-color: gold;
}
.principal::first-line{
    background-color: lightgrey;
}